# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LoopSubdivision.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Administrator\Desktop\LoopSubdivision\.idea\.idea.LoopSubdivision\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
